.app {
  max-width: 960px;
  margin: auto;
}

.image-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 8px;
}

.image-container {
  height: 202px;
  width: 200px;
  border: 1px solid silver;
}

.image-select > .btn {
  margin: 4px;
}

div.form-control {
  margin-bottom: 8px;
}
